html {
    background-image: linear-gradient(#002f6d, #9d33bb);
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0vh;
}

body {
    background-image: linear-gradient(#002f6d, #9d33bb);
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0vh;
}

header {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 8vh;
    display: flex;

}

.logo {

    width: 20vh;
    margin: -5vh -2vh -4vh 5vh;
}

.cuprins {
    margin: 0;
    padding: 0;
    padding-right: 20vh;
    margin: auto;
    display: flex;
    list-style-type: none;
}

.animatieCool {
    font-size: 3.5vh;
    color: white;
    margin-left: 13vh;
    margin-right: 13vh;

    text-decoration: none;

}

.linkSus {
    font-size: 3.5vh;
    color: white;
    text-decoration: none;

}

.animatieCool::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.3vh;
    bottom: 0;
    left: 0;
    background-color: #b643df;
    transition: transform 0.25s ease-out;
}

.animatieCool::after {
    transform-origin: bottom right;
}

.animatieCool:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.animatieCool:hover {
    color: #b643df;

}

.animatieCool {
    display: inline-block;
    position: relative;
}

.pozaCool {
    margin-top: 10vh;
    overflow: hidden;
    height: 55vh;
    width: 100%;
    clip-path: polygon(100% 100%, 0% 100%, 0.00% 10.09%, 2.00% 10.01%, 4.00% 9.78%, 6.00% 9.41%, 8.00% 8.91%, 10.00% 8.29%, 12.00% 7.59%, 14.00% 6.82%, 16.00% 6.01%, 18.00% 5.19%, 20.00% 4.40%, 22.00% 3.64%, 24.00% 2.97%, 26.00% 2.39%, 28.00% 1.93%, 30.00% 1.60%, 32.00% 1.43%, 34.00% 1.40%, 36.00% 1.53%, 38.00% 1.81%, 40.00% 2.22%, 42.00% 2.76%, 44.00% 3.41%, 46.00% 4.14%, 48.00% 4.92%, 50.00% 5.74%, 52.00% 6.55%, 54.00% 7.34%, 56.00% 8.07%, 58.00% 8.72%, 60.00% 9.26%, 62.00% 9.67%, 64.00% 9.95%, 66.00% 10.08%, 68.00% 10.05%, 70.00% 9.87%, 72.00% 9.55%, 74.00% 9.09%, 76.00% 8.51%, 78.00% 7.83%, 80.00% 7.08%, 82.00% 6.28%, 84.00% 5.47%, 86.00% 4.66%, 88.00% 3.89%, 90.00% 3.18%, 92.00% 2.57%, 94.00% 2.07%, 96.00% 1.70%, 98.00% 1.47%, 100.00% 1.39%);
}

.titlu {
    margin-top: 5vh;
    text-align: center;
}

.titluSus {
    font-size: 5vh;
    font-family: cursive;
    color: white;
}

h2 {
    font-family: monospace;
    color: white;
    font-size: 3vh;
}

.lectie h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 5vh;
}

footer {
    display: flex;
    margin: auto;
}

h3 {
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 2vh;
}

ul li {
    display: inline-block;
    position: relative;
    margin: auto;
}

.casutaSpeciala {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.cuprins {
    height: 100%;
}

ul li a {
    display: block;
    text-align: center;
}

ul li ul.dropDown li {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);

}

.dropDown a {
    font-size: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.dropDown {
    margin-top: 3vh;
    padding-top: 3vh;
}

ul li ul.dropDown {
    width: 100%;
    padding: 0;
    position: absolute;
    display: none;
}



ul li:hover ul.dropDown {
    display: block;
}

.dropDown li:hover {
    background-color: rgba(56, 50, 50, 0.5);
}

.dropDown li:hover a {
    font-weight: bold;
}

.casutaSpeciala:hover {
    cursor: pointer;
}

.slide {
    width: 40vh;
    height: max-content;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
    transform: translateX(-40vh);

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.slide ul {
    text-align: left;
    padding: 0;
    margin: 0;
}

.slide li {

    display: block;

}

.slide li a {

    display: block;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.slide li a:hover {

    background-color: rgba(255, 255, 255, 0.5);

}

.lectie {
    padding-left: 4.01vh;
    padding-right: 4.01vh;
    margin-bottom: 3vh;
    margin-left: 13vh;
    margin-right: 13vh;
    border-radius: 4vh;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    padding-bottom: 4vh;
}

input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;

}

.toggle {
    position: absolute;
    height: 3vh;
    width: 3vh;
    background-color: #b643df;
    cursor: pointer;
    border-radius: 1vh;
    top: 11vh;
    left: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.toggle .common {
    position: absolute;
    height: 0.2vh;
    width: 2.2vh;
    background-color: #b643df;
    border-radius: 2vh;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked~.toggle .top_line {
    left: 0.45vh;
    top: 1.5vh;
    width: 2.2vh;
    transform: rotate(45deg);
}

input:checked~.toggle .bottom_line {
    left: 0.45vh;
    top: 1.5vh;
    width: 2.2vh;
    transform: rotate(-45deg);
}

input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
}

input:checked~.slide {
    transform: translateX(0);

}

.titluCuprins {
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2vh;
    color: white;
    text-align: center;
}

.slide a {
    text-decoration: none;
    color: white;
    font-size: 2vh;
    text-align: center;

}

.slide li {
    text-align: center;
}

ul li:hover .dropDown1 {
    display: block;
}

.dropDown1 ul {
    width: 30vh;
}

.dropDown1 {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    top: 0;
    left: 40vh;

}

p {
    font-size: 3vh;
    text-indent: 4vh;
    word-spacing: 1vh;
    line-height: 4.5vh;

}

.lectie h3 {
    font-size: 3vh;
    font-weight: bold;
    color: rgb(157, 51, 187);
}

.lectie li {
    font-size: 3vh;
    word-spacing: 1vh;
    line-height: 4.5vh;

}

.lectie h1 {
    font-size: 8vh;
    text-align: center;
}

.lectie a {
    font-size: 3vh;
    word-spacing: 1vh;
    line-height: 4.5vh;
}

.lectie hr {
    background-color: rgb(157, 51, 187);
    font-weight: 100;

}

.split-para {
    display: block;
    margin: 10px;
}

.split-para span {
    display: block;
    float: right;
    margin-left: 1vh;
}

.prev_next {
    margin-top: 6vh;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
}

.prev {
    margin-left: 10vh;
    width: 50vh;
    height: 12vh;
    background-color: rgb(167, 74, 162);
    ;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 10vh;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.next {
    margin-right: 10vh;
    width: 50vh;
    height: 12vh;
    background-color: rgb(167, 74, 162);
    ;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 10vh;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.prev_next a {
    text-decoration: none;
    font-size: 2.5vh;
}

.prev_next p {
    text-indent: 0;
    text-align: center;
    margin: 0;
    font-weight: lighter;
    font-size: 2.5vh;
}

.prev:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 94, 181);
}

.next:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 94, 181);
}

b {
    font-size: 2vh;
}

.test {
    margin-top: 5vh;
    width: 100%;
    display: inline-block;
    text-align: center;

}

.test p {
    text-indent: 0;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 2vh;
    color: white;
    background-color: rgb(149, 143, 227);
    margin: auto;
    display: inline-block;
}

.test a {
    text-decoration: none;
    text-indent: 0;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 2vh;
    color: white;
    background-color: rgb(149, 143, 227);
    margin: auto;
    display: inline-block;
    transition: 1s;
    word-spacing: 0.1vh;
}

.test a:hover {
    background-color: rgb(97, 129, 232);
    color: #000000;
}

.quiz-header ul li {
    display: list-item;
    margin-left: 20vh;
    margin-top: 4vh;
    margin-bottom: 4vh;

}

.quiz-header ul {
    list-style-type: none;
}

.quiz-header input {
    display: initial;
    visibility: visible;
    appearance: auto;

}

.quiz-header h2 {
    text-align: center;
}

button {
    background: rgb(65, 47, 74);
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 3vh;
    padding: 2vh;
    border-radius: 5vh;
    margin: 0;
}

button:hover {
    background-color: #ae7ebf;
}

.quiz-header h2 {
    font-size: 3.5vh;
}

label {
    font-size: 3vh;
}